server time.cloudflare.com iburst nts
#pool 0.pool.ntp.org iburst
#pool 1.pool.ntp.org iburst
#pool 2.pool.ntp.org iburst
#pool 3.pool.ntp.org iburst
# sourcedir /run/chrony-dhcp
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
allow
ntsdumpdir /var/lib/chrony
ntsserverkey /etc/letsencrypt/live/{{ ansible_hostname }}/privkey.pem
ntsservercert /etc/letsencrypt/live/{{ ansible_hostname }}/fullchain.pem
leapseclist /usr/share/zoneinfo/leap-seconds.list
logdir /var/log/chrony
#log measurements statistics tracking
